.this-nav {
  overflow: hidden;
  background-color: whitesmoke;
  text-align: center;
  z-index: 6;
}

.this-nav a {
  display: inline-block;
  margin-right: -4px; /* inline-block gap fix */
  color: black;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 18px;
  z-index: 9;
}

.this-nav a:hover {
  background-color: #575b69;
  color: blanchedalmond;
}

img {
  width: 100%;
  height: auto;
}
button {
  justify-content: right;
  padding-right: 30px;
}

.col-md-3 {
  position: absolute;
  bottom: 25rem;
  margin: 0 2rem;
  right: 1rem;
}
.col-md-4 {
  position: absolute;
  bottom: 23rem;
  margin-left: 0 5rem;
  left: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
